body {
  margin: 0; }

header {
  width: 100%;
  position: fixed;
  padding: 0;
  margin: 0;
  border-bottom: white solid 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; }

header ul.menuleft, header ul.menuright {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0; }

header ul.menuleft li, header ul.menuright li {
  list-style: none; }

header ul.menuleft li a {
  font-family: Catamaran;
  color: white;
  font-size: 20px;
  font-weight: 800;
  padding: 0 40px;
  text-decoration: none;
  transition: .5s; }

header ul.menuleft li a:hover {
  color: #313131;
  background: white;
  transition: .5s; }

header ul.menuright {
  float: right; }

header ul.menuright li a {
  height: 33px;
  display: flex;
  align-items: center;
  transition: .5s; }

header ul.menuright li a img {
  height: 20px;
  padding: 0 40px;
  transition: .5s; }

header ul.menuright li a:hover {
  background: #313131;
  transition: .5s; }

header ul.menuright li a:hover img {
  filter: invert(1);
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  -o-filter: invert(1);
  -ms-filter: invert(1);
  transition: .5s; }

main .intro {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

main .intro .yellow {
  width: 10%;
  background-color: yellow;
  height: 100vh; }

main .intro .diag {
  width: 50%;
  background: linear-gradient(120deg, yellow 50%, white 50%);
  height: 100vh; }

main .intro .white {
  white-space: 30%;
  background-color: white;
  height: 100vh; }

main .qsn {
  width: 100%;
  height: 100vh;
  background-color: #313131; }

/*# sourceMappingURL=style.css.map */
